:root.dark {
	--fg-color: #f3e5f5;
}

body.dark {
	background-color: #323232;
	color: var(--fg-color);
}

table.dark {
	background-color: #212121;
}

a.dark {
	color: #64b5f6;
}

thead>tr.dark, thead>tr>td.dark {
	border-bottom: 3px solid #ff1744;
}

tr:nth-child(even).dark {
	background-color: #0d0d0d;
}

.data-row:hover.dark {
	background-color: #00695c;
}

.inactive.dark {
	color: var(--fg-color);
}

button.dark {
	background-color: #555;
	color: var(--fg-color);
}

button:hover.dark {
	background-color: #f57f17;
}
