:root.light {
	--fg-color: #3e2723;
}

body.light {
	background-color: #dcdcdc;
	color: var(--fg-color);
}

#filelist table.light {
	background-color: #dedede;
}

a.light {
	color: #1976d2;
}

#filelist thead>tr.light, thead>tr>td.light {
	border-bottom: 3px solid #d50000;
}

#filelist tr:nth-child(even).light {
	background-color: #f2f2f2;
}

.data-row:hover.light {
	background-color: #4db6ac;
}

.inactive.light {
	color: var(--fg-color);
}

button.light {
	background-color: #aaa;
	color: var(--fg-color);
}

button:hover.light {
	background-color: #f57f17;
}

#previewPane.light {
	background-color: #aaa;
}
