body {
	/*font-family: Palatino Linotype, serif;*/
	font-family: "Fira Mono", Consolas, monospace;
	margin-left: 30vw;
	margin-top: 20px;
}

table {
	min-width: 40%;
	border: 0px;
	border-collapse: collapse;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 10px;
	-webkit-box-shadow: 0px 0px 22px 0px rgba(0,0,0,0.95);
	-moz-box-shadow: 0px 0px 22px 0px rgba(0,0,0,0.95);
	box-shadow: 0px 0px 22px 0px rgba(0,0,0,0.95);
}

td {
	padding: 3px;
}

thead {
	font-weight: bold;
}

tr>td.entry-name tr>td.head-name {
	text-align: left;
}

tr>td:not(.entry-name):not(.head-name):not(.meta) {
	text-align: center;
	padding-left: 30px;
}

.meta {
	text-align: right;
	font-style: italic;
}

tfoot>tr>td {
	padding-top: 5px;
}

.inactive {
	text-decoration: none;
}

button {
	border: none;
	padding: 12px 32px;
	margin-left: 20vw;
	cursor: pointer;
	transition-duration: .4s;
	transition-property: background-color;
	-webkit-box-shadow: 0px 0px 22px 0px rgba(0,0,0,0.95);
	-moz-box-shadow: 0px 0px 22px 0px rgba(0,0,0,0.95);
	box-shadow: 0px 0px 22px 0px rgba(0,0,0,0.95);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
